#left-menu-title {
	font-size: 30px;
	font-weight: bold;
}

#relalg-editor {
	width: 100%;
	height: 350px;
}

.main-title-row {
	margin-top: 3%;
	margin-bottom: 3%;
}

.btn-bottom-query-editor {
	margin-top: 2%;
	margin-bottom: 10%;
	margin-left: 1%;
}

.button:focus {
	outline: 0;
}

.btn-bottom-query-editor-left {
	float:left;
}

.btn-bottom-query-editor-right {
	float:right;
}

.database-schema-container {
	text-align: center;
	margin-right: 5%;
}

#success-execution-msg {
	//display: none;
}

#error-execution-msg {
	display: none;
}

ul {
  list-style-type: none;
  padding-left: 10px;
  padding-bottom: 5px;
}

li {
	margin: 5px 0;
}

.hidden {
   display: none !important;
}