#left-menu-title {
	font-size: 30px;
	font-weight: bold;
}

#relalg-editor {
	width: 100%;
	height: 350px;
}

.main-title-row {
	margin-top: 10%;
	margin-bottom: 10%;
}

.btn-bottom-query-editor {
	margin-top: 2%;
	margin-left: 1%;
}

.button:focus {
	outline: 0;
}

.btn-bottom-query-editor-left {
	float:left;
}

.btn-bottom-query-editor-right {
	float:right;
}