#manual-definition-btn {
	height: 150px;
	width: 100%;
}

#dropzone {
	height:150px;
	border-style: dashed; 
	border-color: #bfbfbf;
	background-color: #F8F8F8;
	background: rgba(0, 0, 0, 0); 	// transparent
	border-radius: 25px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.ui.input {
	display: block;
}

#relations-names-panel {
	min-height: 50px;
	max-height: 130px;
	overflow-y:auto;
}

#db-name {
	width: 97% !important;
}

.rel-name {
	margin-top: 5px !important;
	margin-right: 5px !important;
	width: 97% !important;
}

.attribute-label-second-modal {
	margin-right: 10px;
	margin-left: 6px;
}

.attribute-list-accordion {
	margin-top: 10px;
}

.attribute-list {
	max-height: 300px;
	min-height: 1000%;
	overflow-y: auto;
	margin-bottom: 20px;
	overflow: visible;
}

.attribute-group {
	margin-top: 10px;
	margin-right: 20px;
	display: inline-block !important;
}

.attribute-name {
	width: 150px !important;
	display: inline-block;
}

.dropdown-container {
	width: 120px !important;
	display: inline-block;
}

.attribute-domain {
	display: inline-block;
	margin-left: 2px;
}

.attribute-errors-panel {
	color: red;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 30px;
	display: none;
}

.input-text-with-errors {
	border-color: red !important;
}