#manual-definition-btn {
	height: 150px;
	width: 100%;
}

#dropzone {
	height:150px;
	border-style: dashed; 
	border-color: green;
	background-color: #F8F8F8;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}