.schema-viewer {
	margin-right: 5%;
}

.schema-viewer-tables {
	max-height: 450px !important;
	text-align: left; 
	padding-bottom: 3px;
	background-color: #f7f7f5 !important;
}

#databases-dropdown {
	width: 100% !important;
	text-align: center !important;
	background-color: #f7f7f5 !important;
}

#relalg-editor {
	width: 100%;
	height: 300px;
}

#sql-editor {
	width: 100%;
	height: 300px;	
}

.code-editor-panel {
	padding: 0px !important;
}

#relalg-operators-content {
	padding: 1%;
	margin-left: 2%;
}

.operator-body-explanation {
	font-family: 'Inconsolata', monospace;
}