<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />

    <title>Relearn</title>

    <link rel="icon" href="img/blue_dot.png">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- 1.11.8 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/tab.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/label.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css"/>

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/ribbons.css">
    <link rel="stylesheet" href="css/schema.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/tab.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>

	<script src="vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/utils.js" type="text/javascript"></script>
    <script src="js/app-general.js" type="text/javascript"></script>

    <script src="js/utils.js"></script>
    <script src="js/manual-schema-first-step.js"></script>
    <script src="js/manual-schema-second-step.js"></script>
    <script src="js/manual-schema-third-step.js"></script>
    <!--
    <script src="js/schema-next.js"></script>
	-->

</head>
<body>

	<div class="ui grid">

		<div class="three wide column">
			<div class="ui left fixed inverted vertical menu" id="left-title" style="background-color: #3b83c0">
				<a href="/"><div class="item" id="left-menu-title"><h2 style="font-family: 'Raleway', sans-serif;text-align: center"><span style="color:#ffa31a">re</span>learn</h2></div></a>
				<a class="item" href="/main"><h5>Start</h5></a>
				<a class="item" href="https://relearn.gitbook.io/relearn/" target="_blank"><h5>User Guide</h5></a>
				<a class="item" href="https://www.github.com/tteguayco/relearn" target="_blank"><h5>Source Code</h5></a>
				<a class="item" href="/about"><h5>About</h5></a>
			</div>
		</div>

		<div class="eleven wide column">
			<div class="row">
				<a class="ui orange label" style="float:right;margin-top: 3%">BETA</a>
				<!--
				<div class="ui floating dropdown labeled search icon button" style="float:right;margin-top: 3%">
					<i class="world icon"></i>
					<span class="text">English</span>
					<div class="menu">
						<div class="item">English</div>
						<div class="item">Español</div>
					</div>
				</div>
				-->
			</div>
			<div class="row" style="margin-top: 5%">
				<h2>Write your queries</h2>
					<div class="ui accordion">
						<div class="title">
							<i class="dropdown icon"></i>
							<b>Quick instructions</b>
						</div>
						<div class="content" style="padding-top:0px;">
							<ul>
								<li>You can find examples of Relational Algebra queries in the User Guide.</li>
								<li>After executing a query, you will be able to visualize the SQL equivalent expression.</li>
								<li>You can also add or edit the database which your queries are based on.</li>
							</ul>
							<div style="margin-bottom:3%"></div>
						</div>
					</div>
			</div>
			<div class="row" >
				<div class="ui accordion">
					<div class="title">
						<i class="dropdown icon"></i>
						<b>Relational Algebra Operations</b>
					</div>
					<div class="content" id="relalg-operators-content">
						<div class="ui thirteen column grid">
							<div class="five wide column">
								<b>PROJECTION</b><br/>
								<p class="operator-body-explanation">
									<span>PROJECT attrlist (expression);</span><br/>
									<span style="color:grey">E.g. <i>PROJECT (A, B) (R);</i></span>
								</p>	
							</div>
							<div class="five wide column">
								<b>SELECTION</b><br/>
								<p class="operator-body-explanation">
									<span>SELECT [condlist] (expression);</span><br/>
									<span style="color:grey">E.g. <i>SELECT ((A < 1) AND (B = 'b')) (R);</i></span>
								</p>
							</div>
							<div class="five wide column">
								<b>RENAME</b><br/>
								<p class="operator-body-explanation">
									<span>RENAME attrlist (expression);</span><br/>
									<span style="color:grey">E.g. <i>RENAME (C, D) (R);</i></span>
								</p>	
							</div>
							<div class="five wide column">
								<b>CARTESIAN PRODUCT</b><br/>
								<p class="operator-body-explanation">
									<span>expression x expression;</span><br/>
									<span style="color:grey">E.g. <i>R CROSS JOIN S;</i></span>
								</p>	
							</div>
							<div class="five wide column">
								<b>UNION</b><br/>
								<p class="operator-body-explanation">
									<span>expression UNION expression;</span><br/>
								</p>	
							</div>
							<div class="five wide column">
								<b>DIFFERENCE</b><br/>
								<p class="operator-body-explanation">
									<span>expression - expression;</span><br/>
								</p>	
							</div>
							<div class="five wide column">
								<b>INTERSECTION</b><br/>
								<p class="operator-body-explanation">
									<span>expression INTERSECT expression;</span><br/>
								</p>	
							</div>
							<div class="five wide column">
								<b>NATURAL JOIN</b><br/>
								<p class="operator-body-explanation">
									<span>expression * expression;</span><br/>
								</p>	
							</div>
							<div class="five wide column">
								<b>DIVISION</b><br/>
								<p class="operator-body-explanation">
									<span>expression / expression;</span><br/>
								</p>	
							</div>
							<div class="five wide column">
								<b>JOIN</b><br/>
								<p class="operator-body-explanation">
									<span>expression JOIN expression [condlist];</span><br/>
								</p>	
							</div>
							<div class="five wide column">
								<b>LEFT OUTER JOIN</b><br/>
								<p class="operator-body-explanation">
									<span>expression LEFT OUTER JOIN expression [condlist];</span><br/>
								</p>	
							</div>
							<div class="five wide column">
								<b>RIGHT OUTER JOIN</b><br/>
								<p class="operator-body-explanation">
									<span>expression RIGHT OUTER JOIN expression [condlist];</span><br/>
								</p>	
							</div>
							<!--
							<div class="five wide column">
								<b>GROUP BY</b><br/>
								<p class="operator-body-explanation">
									<span>PROJECT (attrlist) (expression)<br>GROUP BY (attrlist);</span><br/>
									<span style="color:grey">E.g. <br><i>PROJECT (A, COUNT(B)) (R)<br>GROUP BY (A);</i></span>
								</p>
							</div>
							-->
							<!--
							<div class="five wide column">
								<b>HAVING</b><br/>
								<p class="operator-body-explanation">
									<span>PROJECT (attrlist) (expression)<br>GROUP BY (attrlist)<br>HAVING (condlist);</span><br/>
									<span style="color:grey">E.g. <br><i>PROJECT (A, COUNT(B)) (R)<br>GROUP BY A<br>HAVING SUM(C) > 5;</i></span>
								</p>
							</div>
							-->
							<div class="five wide column">
								<b>FULL OUTER JOIN</b><br/>
								<p class="operator-body-explanation">
									<span>expression FULL OUTER JOIN expression [condlist];</span><br/>
								</p>
							</div>
							<!--
							<div class="five wide column">
								<b>AGGREGATE FUNCTIONS</b><br/>
									<ul>
										<li>SUM</li>
										<li>COUNT</li>
										<li>MIN</li>
										<li>MAX</li>
										<li>AVERAGE</li>
									</ul>
								</p>
							</div>
							-->
						</div>
					</div>
				</div>
			</div>

			<div class="ui two column centered grid" style="text-align:center;margin-top:3%;">

				<div class="four wide column schema-viewer">	

					#if ($database)
						<div class="ui compact menu" style="width:100%;">
							<div class="ui simple dropdown item" id="databases-dropdown">
								<div class="dropdown-title-container">
									$database.getName()
									<i class="dropdown icon"></i>
									<!--
									<div class="menu">
									  <div class="item">MyDatabase2</div>
									  <div class="item">MyDatabase3</div>
									</div>
									-->
								</div>
							</div>
						</div>
						<p id="schema-definition" style="display:none">$database.toDSL()</p>

						<div class="ui segment schema-viewer-tables">
						#foreach ($table in $database.getTables())
					
							<b>$table.getNameWithoutRelation()</b>
							<ul>
								#foreach ($attr in $table.getAttributes())
									<li>$attr.getName() <span style="color:grey"><i>$attr.getDataType().toString()</i></span></li>
								#end
							</ul>

						<!--
						<b>Table1</b><br/>
						<ul>
							<li>Column1 <span style="color:grey"><i>String</i></span></li>
							<li>Column2 <span style="color:grey"><i>Date</i></span></li>
							<li>Column3 <span style="color:grey"><i>Integer</i></span></li>
						</ul>

						<b>Table2</b>
						<ul>
							<li>Column1 <span style="color:grey"><i>Integer</i></span></li>
							<li>Column2 <span style="color:grey"><i>Float</i></span></li>
						</ul>

						<b>Table3</b>
						<ul>
							<li>Column1 <span style="color:grey"><i>String</i></span></li>
							<li>Column2 <span style="color:grey"><i>Float</i></span></li>
							<li>Column3 <span style="color:grey"><i>Float</i></span></li>
						</ul>
						-->	
						#end
						</div>
					#end

					<div class="database-schema-btn" style="text-align: center">
						<button id="create-db-btn" tabindex="0" class="ui icon button schema-viewer-btn" data-position="bottom center">
							<i class="plus icon"></i>
						</button>
						<button id="alter-db-btn" tabindex="1" class="ui icon button schema-viewer-btn" data-position="bottom center">
							<i class="pencil icon"></i>
						</button>
						<button id="delete-db-btn" class="ui icon button schema-viewer-btn" data-position="bottom center">
							<i class="remove icon"></i>
						</button>
						<button id="save-db-btn" class="ui icon button schema-viewer-btn" data-position="bottom center">
							<i class="download icon"></i>
						</button>
					</div>

				</div>

				<div class="eleven wide column">

					<div class="row">
						<div class="ui top attached tabular menu">
							<div id="relalg-tab" class="active item disabled" id="relalg-tab" data-tab="relalg-tab">Relational Algebra</div>
							<div id="sql-tab" class="item disabled" data-tab="sql-tab">SQL</div>
						</div>
						
						<div class="ui bottom attached active tab segment code-editor-panel" data-tab="relalg-tab">
							<div id="relalg-editor">/*
 * Your Relational Algebra queries go here. 
 * 
 * The SQL translations will appear in the SQL tab.
 */
 #if ($database)
  
 PROJECT #foreach ($attr in $database.getTables().get(0).getAttributes())$attr.getName()#if( $foreach.hasNext ), #end#end ($database.getTables().get(0).getNameWithoutRelation());#end
</div>
						</div>
						<div class="ui bottom attached tab segment code-editor-panel" data-tab="sql-tab">
							<div id="sql-editor"></div>
						</div>

						<div class="btn-bottom-query-editor">
							<input type="file" id="filechooser" style="display:none">
							<div class="btn-bottom-query-editor-left">
								<button id="run-query-btn" class="positive ui button" data-position="bottom left"><i class="play icon"></i>Run</button>
								<!--
								<button id="save-query-btn" class="ui primary button" data-position="top left"><i class="save icon"></i>Save</button>
								-->
							</div>
							<div class="btn-bottom-query-editor-right">
								<button id="save-query-btn" class="ui icon button" data-position="bottom right">
									<i class="save icon"></i>
								</button>
								<button id="import-relalg-query-btn" class="ui icon button" data-position="bottom right">
									<i class="pencil icon"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="row" style="padding:5px"></div>

					<div class="row" id="success-or-errors-msg-panels-container">
						<div id="success-execution-msg" class="ui success message">
							<i class="close icon"></i>
							<div class="header">
								Your query was executed successfully
							</div>
							<p>The result table is shown below.</p>
						</div>

						<div id="error-execution-msg" class="ui error message">
							<i class="close icon"></i>
							<div class="header">
								Your query raised some errors
							</div>
							<ul class="list">
								Details are shown below.
							</ul>
						</div>
					</div>

					<div class="row">
						<div class="five wide column schema-errors-panel">
							<div class="ui red segment" style="text-align: left;">
								<p id="errors-messages">line 12: missing ')' near token ';'</p>
							</div>
						</div>
					</div>

					<div id="result-table-row" class="row">
						<table id="result-table" class="ui very compact striped table">
							<thead>
								<tr>
									<th>Col1Name</th>
									<th>Col2name</th>
									<th>Col3Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>d11</td>
									<td>dddd12</td>
									<td>d13</td>
								</tr>
								<tr>
									<td>d21</td>
									<td>d22</td>
									<td>d23</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div id="csv-download-result-btn" class="ui vertical animated button" tabindex="0">
						<div class="hidden content">CSV</div>
						<div class="visible content">
							<i class="download icon"></i>
						</div>
					</div>

				</div>
			</div>
			<div class="copyright-container">
				<div class="ui divider"></div>
				Relearn &copy; 2018. All rights reserved.
			</div>
		</div>
	</div>

</body>
</html>

<div class="ui mini modal transition" id="delete-db-confirmation-dialog">
	<div class="header">
		Drop database
	</div>
	<div class="content">
	  	<p>Are you sure you want to drop the database <b><span id="db-name-to-drop"></span></b>?
	  	</p>
	</div>
	<div class="actions">
		<div class="ui negative button">
			No
		</div>
		<div class="ui positive right labeled icon button">
			Yes
			<i class="checkmark icon"></i>
		</div>
	</div>
</div>

<div class="ui mini modal transition" id="create-db-mode-dialog">
	<div class="header">
		Create new database
	</div>
	<div class="content">
	  	<p>How do you want to define the new database?
	  	</p>
	</div>
	<div class="actions">
		<div id="create-db-manually" class="ui button">
			Manually
		</div>
		<div id="create-db-from-file" class="ui button">
			From file
		</div>
	</div>
</div>

<!-- MANUAL DEFINITION FIRST STEP MODAL -->
<div id="modal-manual-def-first-step" class="ui tiny modal manual-definition1 modal-content">
	<div class="header">
		Create a database (1/3)   -   Relations
	</div>
	<div class="content">
		<div class="ui input db-name" style="display:block;">
			<label><b>Database</b></label>
			<div style="margin-top: 2%"></div>
			<input type="text" id="db-name" placeholder="Database Name">
			<div style="margin-top: 2%"></div>
		</div>
		<div class="db-relations" style="margin-top: 3%;display:block;">
			<div class="ui input">
				<label style="margin-right:10px;"><b>Relations</b></label>
				<div id="add-relation-btn" class="ui circular compact small icon button" data-tooltip="Add a relation" data-position="bottom center" data-inverted="">
					<i class="plus icon" data-variation="inverted"></i>
				</div>
				<div id="remove-relation-btn" class="ui circular compact small icon button" data-tooltip="Remove last relation" data-position="right center" data-inverted="">
					<i class="minus icon"></i>
				</div>
				<div style="margin-top: 2%"></div>
				<div id="relations-names-panel" class="ui input">
					<input type="text" class="rel-name" placeholder="Relation Name">
					<!--
					<input type="text" class="rel-name" placeholder="Relation Name">
					<input type="text" class="rel-name" placeholder="Relation Name">
					-->
				</div>
			</div>
		</div>
		<div id="errors-modal-first-step" style="margin-top: 15px;display: none;">
			<div class="ui error message">
				<div class="header">
					Please check the following for the red-highlighted fields
				</div>
				<ul class="list">
					<li>The database name and at least one relation name are mandatory.</li>
					<li>All the names provided above cannot contain any space.</li>
					<li>The first character for a name cannot be different from a letter.</li>
					<li>Two or more relations with the same name are not allowed.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="actions">
		<div id="first-step-next-btn" class="ui positive right labeled icon button">
		  Next
		  <i class="angle double right icon"></i>
		</div>
	</div>
</div>

<!-- MANUAL DEFINITION SECOND STEP MODAL -->
<div id="modal-manual-def-second-step" class="ui large coupled modal manual-definition2">
	<div class="header">
		Create a database (2/3) - Attributes and domains
	</div>
	<div class="image content">
		<form id="form-second-modal" class="ui input">
			<!--
			<div class="ui accordion">
				<div class="title active">
					<i class="dropdown icon"></i>
					<label style="margin-right:10px;"><b>Relation <span class="relation-name-second-step"><i>products</i></span></b></label>
				</div>
				<div class="content active">
					<div class="add-remove-buttons">
						<label class="attribute-label-second-modal"><b>Attributes </b></label>
						<div class="ui circular tiny compact icon button" data-tooltip="Add an attribute" data-position="top center" data-inverted="">
							<i class="plus icon" data-variation="inverted"></i>
						</div>
						<div class="ui circular tiny compact icon button" data-tooltip="Remove lastest attribute" data-position="right center" data-inverted="">
							<i class="minus icon"></i>
						</div>
					</div>
					<div class="ui segment attribute-list">

						<div class="attribute-group">
							<input type="text" class="attribute-name" placeholder="Attribute Name">
							<select class="ui dropdown attribute-domain">
								<option value="1">String</option>
								<option value="0">Char</option>
								<option value="0">Integer</option>
								<option value="0">Float</option>
								<option value="0">Date</option>
							</select>
						</div>
						<div class="attribute-group" style="margin-top:5px">
							<input type="text" class="attribute-name" placeholder="Attribute Name" style="width:65%;display:inline-block;">
							<select class="ui dropdown domain" style="width:30%;display:inline-block;">
								<option value="1">String</option>
								<option value="0">Char</option>
								<option value="0">Integer</option>
								<option value="0">Float</option>
								<option value="0">Date</option>
							</select>
						</div>

					</div>
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					<label style="margin-right:10px;"><b>Relation <span class="relation-name-second-step"><i>clients</i></span></b></label>
					<div id="add-relation-btn" class="ui circular tiny compact icon button" data-tooltip="Add an attribute" data-position="top center" data-inverted="">
						<i class="plus icon" data-variation="inverted"></i>
					</div>
					<div id="remove-relation-btn" class="ui circular tiny compact icon button" data-tooltip="Remove lastest attribute" data-position="right center" data-inverted="">
						<i class="minus icon"></i>
					</div>
				</div>
				<div class="content">
					<div class="ui segment attribute-list" style="max-height:160px;overflow-y:auto;margin-bottom:5px;">

						<div class="attribute-group" style="margin-top:5px">
							<input type="text" class="attribute-name" placeholder="Attribute Name" style="width:65%;display:inline-block;">
							<select class="ui dropdown domain" style="width:30%;display:inline-block;">
								<option value="1">String</option>
								<option value="0">Char</option>
								<option value="0">Integer</option>
								<option value="0">Float</option>
								<option value="0">Date</option>
							</select>
						</div>
						<div class="attribute-group" style="margin-top:5px">
							<input type="text" class="attribute-name" placeholder="Attribute Name" style="width:65%;display:inline-block;">
							<select class="ui dropdown domain" style="width:30%;display:inline-block;">
								<option value="1">String</option>
								<option value="0">Char</option>
								<option value="0">Integer</option>
								<option value="0">Float</option>
								<option value="0">Date</option>
							</select>
						</div>

					</div>
				</div>
			</div>
		-->
		</form>
	</div>
	<div class="actions">
		<div id="second-step-back-btn" class="ui left labeled icon button">
		  <i class="angle double left icon"></i>
		  Back
		</div>
		<div id="second-step-next-btn" class="ui positive right labeled icon button">
		  Next
		  <i class="angle double right icon"></i>
		</div>
	</div>
</div>

<!-- MANUAL DEFINITION THIRD STEP MODAL -->
<div id="modal-manual-def-third-step" class="ui large coupled modal manual-definition3">
	<div class="header">
		Create a database (3/3) - Tuples
	</div>
	<div class="image content">
		<form id="form-third-modal" class="ui input">
			
		</form>
	</div>
	<div class="actions">
		<div id="third-step-back-btn" class="ui left labeled icon button">
		  <i class="angle double left icon"></i>
		  Back
		</div>
		<div id="third-step-next-btn-from-main-view" class="ui positive right labeled icon button">
		  Next
		  <i class="angle double right icon"></i>
		</div>
	</div>
</div>

<div id="loading-db-creation-modal" class="ui basic modal">
	<div class="ui icon header">
		<i class="spinner icon"></i>
		You are almost ready to start writing queries
		<br><h4>Everything is being prepared for you. This will take just a few seconds :-)</h4>
	</div>
</div>