<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />

    <title>Relearn</title>

    <link rel="icon" href="img/blue_dot.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/components/dropdown.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/components/modal.min.css"/>

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/schema.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="vendor/dropzonejs/dropzone.css">

    <script src="vendor/dropzonejs/dropzone.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/components/dropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/components/modal.min.js"></script>
</head>
<body>

	<div class="ui grid">

		<div class="three wide column">
            <div class="ui left fixed inverted vertical menu" style="background-color: #3b83c0">
                <a href="/about"><div class="item" id="left-menu-title"><h2 style="font-family: 'Raleway', sans-serif;"><span style="color:#ffa31a">re</span>learn</h2></div></a>
                <a class="item" href="/main"><h5>Start</h5></a>
                <a class="item" href="https://relearn.gitbook.io/relearn/" target="_blank"><h5>User Guide</h5></a>
                <a class="item" href="https://www.github.com/tteguayco/relearn" target="_blank"><h5>Source Code</h5></a>
                <a class="item" href="/about"><h5>About</h5></a>
            </div>
        </div>

		<div class="eleven wide column">
            <div class="row">
                <div class="ui floating dropdown labeled search icon button" style="float:right;margin-top: 3%">
                    <i class="world icon"></i>
                    <span class="text">English</span>
                    <div class="menu">
                        <div class="item">English</div>
                        <div class="item">Español</div>
                    </div>
                </div>
            </div>
            <div class="row starting-question">
                <h2>What is it?</h2>
                <p>
                    <b>Relearn</b> is a software tool thought to help students when learning Relational Algebra, which is a relational query language proposed by Edgar F. Codd in his 1970 paper called <i>"A Relational Model of Data for Large Shared Data Banks"</i>.
                </p>
                <p>
                    Understanding how Relational Algebra really works is important due to it has provided the underlying theoretical concepts of many commercial query languages for relational databases used nowadays, such as the well-known SQL. Because of this, a student who masters Relational Algebra is more likely to retrieve the correct information from relational databases and to write better queries, in terms of efficiency, in SQL.
                </p>
            </div>
            <div class="row non-starting-question">
                <h2>Who are the authors?</h2>
                <p>
                    This project has two main contributors:
                    <ul>
                        <li><a href="https://linkedin.com/in/teguayco" target="_blank">Teguayco Gutiérrez González</a>: former La Laguna University student. His prize-winner end-of-degree project <a href="https://github.com/tteguayco/JITRAX" target="_blank">JITRAX</a> constitutes the foundations which have made Relearn possible.</li>
                        <div class="li-separator"></div>
                        <li>Jesús M. Jorge Santiso: professor...</li>
                    </ul>
                </p>
            </div>
            <div class="row non-starting-question">
                <h2>Would you like to collaborate?</h2>
                <p>
                    <ul>
                        <li>If you detect any error while using the app which should be fixed, you can open a <b>new issue</b> on <a href="https://github.com/tteguayco/relearn/issues" target="_blank">GitHub</a> to let the contributors know about it. Please, give as many details about the incidence as you can: screenshots, steps to reproduce the error, etc.</li>
                        <div class="li-separator"></div>
                        <li>You may also want to make improvements on the app on your own or to contribute by adding new functionality. If so, you can clone the project's repo, make all the changes you want and then send them through a <b>Pull Request</b> to be reviewed by the contributors. You can find further information about GitHub's Pull Requests <a href="https://help.github.com/articles/about-pull-requests/" target="_blank">here</a>.</li>
                        <br>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</body>
</html>