<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />

    <title>Relearn</title>

    <link rel="icon" href="img/blue_dot.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/components/popup.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/components/accordion.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/components/dropdown.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/components/input.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/label.min.css"/>

    <link rel="stylesheet" type="text/css" href="vendor/semantic-ui-alert/Semantic-UI-Alert.css"/>
 
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/schema.css">
    <link rel="stylesheet" type="text/css" href="vendor/dropzonejs/dropzone.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

 	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/components/popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/components/accordion.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/components/dropdown.min.js"></script>
    
    <script src="vendor/semantic-ui-alert/Semantic-UI-Alert.js"></script>

	<script src="js/utils.js"></script>
    <script src="js/dropzone-schema.js"></script>
    <script src="js/manual-schema-first-step.js"></script>
    <script src="js/manual-schema-second-step.js"></script>
    <script src="js/manual-schema-third-step.js"></script>
    <script src="js/schema-next.js"></script>
</head>
<body>

	<div class="ui grid">

		<div class="three wide column">
			<div class="ui left fixed inverted vertical menu" style="background-color: #3b83c0">
				<a href="/"><div class="item" id="left-menu-title"><h2 style="font-family: 'Raleway', sans-serif;"><span style="color:#ffa31a">re</span>learn</h2></div></a>
				<a class="item" href="/schema"><h5>Start</h5></a>
				<a class="item" href="https://relearn.gitbook.io/relearn/" target="_blank"><h5>User Guide</h5></a>
				<a class="item" href="https://www.github.com/tteguayco/relearn" target="_blank"><h5>Source Code</h5></a>
				<a class="item" href="/about"><h5>About</h5></a>
			</div>
		</div>

		<div class="eleven wide column">
			<div class="row">
				<div class="ui floating dropdown labeled search icon button" style="float:right;margin-top: 3%">
					<i class="world icon"></i>
					<span class="text">English</span>
					<div class="menu">
						<div class="item">English</div>
						<div class="item">Español</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 7%">
				<h2>Define your database schema</h2>
				<h5><b>Quick instructions</b></h5>
				<ul>
					<li>The queries you write must be based on some database schema.</li>
					<li>Basically, you must define the set of relations contained in the schema, their attributes (with domains) and tuples.</li>
					<li>You can create a schema manually or loading its definition by file.</li>
					<li>In the User Guide you will find the notation used to specify a schema by file.</li>
				</ul>
			</div>

			<div class="" style="text-align: center;margin-top: 6%;">
				<h3>How do you want to define your schema?</h3>

				<div class="ui two column centered grid" style="margin-top: 2%">
					<!-- Manually definition button-->
					<div class="four wide column">
						<button id="manual-definition-btn" class="ui grey basic blue button"><i>Manual definition</i></button>
					</div>

					<!-- Dropzone -->
					<div class="four wide column">
						<form id="dropzone" class="dropzone needsclick dz-clickable">
							<div class="dz-default dz-message">
								<p id="dropzone-text" style="color:grey"><i id="selected-filename">Drop or choose<br/> definition file</i></p>
								<input type="file" id="filechooser" style="display:none">
								<p id="db-definition-file-content" style="display: none"></p>
							</div>
						</form>
						<div id="next-btn" class="ui positive right labeled icon button" style="margin-top:20px;float:right">
					    	Next
						    <i class="angle double right icon"></i>
						</div>
					</div>

				</div>

				<div class="five wide column schema-errors-panel" style="margin-top: 50px;">
					<div class="ui red segment" style="text-align: left;">
						<a class="ui red ribbon label" style="margin-bottom: 15px;">Errors encountered</a>
						<p id="errors-messages">line 12: missing ')' near token ';'</p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="separator" style="margin-top: 100px;">
	</div>

	<script>
		// UI Components initialization
		$("#manual-definition-btn").click(function() {
			$('.ui.modal.manual-definition1').modal('show');
		});
	</script>

</body>
</html>

<!-- MANUAL DEFINITION FIRST STEP MODAL -->
<div id="modal-manual-def-first-step" class="ui small modal manual-definition1 modal-content">
	<div class="header">
		Create a database (1/3)   -   Relations
	</div>
	<div class="image content">
		<div class="db-name">
			<div class="ui input">
				<label><b>Database</b></label>
				<div style="margin-top: 2%"></div>
				<input type="text" id="db-name" placeholder="Database Name">
				<div style="margin-top: 2%"></div>
			</div>
		</div>
		<div class="db-relations" style="margin-top: 3%">
			<div class="ui input">
				<label style="margin-right:10px;"><b>Relations</b></label>
				<div id="add-relation-btn" class="ui circular compact small icon button" data-tooltip="Add a relation" data-position="bottom center" data-inverted="">
					<i class="plus icon" data-variation="inverted"></i>
				</div>
				<div id="remove-relation-btn" class="ui circular compact small icon button" data-tooltip="Remove last relation" data-position="right center" data-inverted="">
					<i class="minus icon"></i>
				</div>
				<div style="margin-top: 2%"></div>
				<div id="relations-names-panel" class="ui input">
					<input type="text" class="rel-name" placeholder="Relation Name">
					<!--
					<input type="text" class="rel-name" placeholder="Relation Name">
					<input type="text" class="rel-name" placeholder="Relation Name">
					-->
				</div>
			</div>
		</div>
		<div id="errors-modal-first-step" style="margin-top: 15px;display: none;">
			<div class="ui error message">
				<div class="header">
					Please check the following for the red-highlighted fields
				</div>
				<ul class="list">
					<li>The database name and at least one relation name are mandatory.</li>
					<li>All the names provided above cannot contain any space.</li>
					<li>The first character for a name cannot be different from a letter.</li>
					<li>Two or more relations with the same name are not allowed.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="actions">
		<div id="first-step-next-btn" class="ui positive right labeled icon button">
		  Next
		  <i class="angle double right icon"></i>
		</div>
	</div>
</div>

<!-- MANUAL DEFINITION SECOND STEP MODAL -->
<div id="modal-manual-def-second-step" class="ui large coupled modal manual-definition2">
	<div class="header">
		Create a database (2/3) - Attributes and domains
	</div>
	<div class="image content">
		<form id="form-second-modal" class="ui input">
			<!--
			<div class="ui accordion">
				<div class="title active">
					<i class="dropdown icon"></i>
					<label style="margin-right:10px;"><b>Relation <span class="relation-name-second-step"><i>products</i></span></b></label>
				</div>
				<div class="content active">
					<div class="add-remove-buttons">
						<label class="attribute-label-second-modal"><b>Attributes </b></label>
						<div class="ui circular tiny compact icon button" data-tooltip="Add an attribute" data-position="top center" data-inverted="">
							<i class="plus icon" data-variation="inverted"></i>
						</div>
						<div class="ui circular tiny compact icon button" data-tooltip="Remove lastest attribute" data-position="right center" data-inverted="">
							<i class="minus icon"></i>
						</div>
					</div>
					<div class="ui segment attribute-list">

						<div class="attribute-group">
							<input type="text" class="attribute-name" placeholder="Attribute Name">
							<select class="ui dropdown attribute-domain">
								<option value="1">String</option>
								<option value="0">Char</option>
								<option value="0">Integer</option>
								<option value="0">Float</option>
								<option value="0">Date</option>
							</select>
						</div>
						<div class="attribute-group" style="margin-top:5px">
							<input type="text" class="attribute-name" placeholder="Attribute Name" style="width:65%;display:inline-block;">
							<select class="ui dropdown domain" style="width:30%;display:inline-block;">
								<option value="1">String</option>
								<option value="0">Char</option>
								<option value="0">Integer</option>
								<option value="0">Float</option>
								<option value="0">Date</option>
							</select>
						</div>

					</div>
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					<label style="margin-right:10px;"><b>Relation <span class="relation-name-second-step"><i>clients</i></span></b></label>
					<div id="add-relation-btn" class="ui circular tiny compact icon button" data-tooltip="Add an attribute" data-position="top center" data-inverted="">
						<i class="plus icon" data-variation="inverted"></i>
					</div>
					<div id="remove-relation-btn" class="ui circular tiny compact icon button" data-tooltip="Remove lastest attribute" data-position="right center" data-inverted="">
						<i class="minus icon"></i>
					</div>
				</div>
				<div class="content">
					<div class="ui segment attribute-list" style="max-height:160px;overflow-y:auto;margin-bottom:5px;">

						<div class="attribute-group" style="margin-top:5px">
							<input type="text" class="attribute-name" placeholder="Attribute Name" style="width:65%;display:inline-block;">
							<select class="ui dropdown domain" style="width:30%;display:inline-block;">
								<option value="1">String</option>
								<option value="0">Char</option>
								<option value="0">Integer</option>
								<option value="0">Float</option>
								<option value="0">Date</option>
							</select>
						</div>
						<div class="attribute-group" style="margin-top:5px">
							<input type="text" class="attribute-name" placeholder="Attribute Name" style="width:65%;display:inline-block;">
							<select class="ui dropdown domain" style="width:30%;display:inline-block;">
								<option value="1">String</option>
								<option value="0">Char</option>
								<option value="0">Integer</option>
								<option value="0">Float</option>
								<option value="0">Date</option>
							</select>
						</div>

					</div>
				</div>
			</div>
		-->
		</form>
	</div>
	<div class="actions">
		<div id="second-step-back-btn" class="ui left labeled icon button">
		  <i class="angle double left icon"></i>
		  Back
		</div>
		<div id="second-step-next-btn" class="ui positive right labeled icon button">
		  Next
		  <i class="angle double right icon"></i>
		</div>
	</div>
</div>

<!-- MANUAL DEFINITION THIRD STEP MODAL -->
<div id="modal-manual-def-third-step" class="ui large coupled modal manual-definition3">
	<div class="header">
		Create a database (3/3) - Tuples
	</div>
	<div class="image content">
		<form id="form-third-modal" class="ui input">
			
		</form>
	</div>
	<div class="actions">
		<div id="third-step-back-btn" class="ui left labeled icon button">
		  <i class="angle double left icon"></i>
		  Back
		</div>
		<div id="third-step-next-btn" class="ui positive right labeled icon button">
		  Next
		  <i class="angle double right icon"></i>
		</div>
	</div>
</div>

<div id="loading-db-creation-modal" class="ui basic modal">
	<div class="ui icon header">
		<i class="spinner icon"></i>
		You are almost ready to start writing queries
		<br><h4>Everything is being prepared for you. This will take just a few seconds :-)</h4>
	</div>
</div>